*
  box-sizing: border-box

html
  font-size: 20px
  font-family: "Times New Roman", serif

header
  text-align: center

  h1
    font-variant: small-caps

a
  text-decoration: underline
  cursor: pointer
  user-select: none

.muted
  opacity: 60%
  font-size: smaller
  
#info
  text-align: center

  & > *
    padding: 1em 0.5em
    
  #page-input
    font: inherit
    text-overflow: ellipsis
  
#upload-input
  display: none
