*
  box-sizing: border-box

html
  font-size: 18px
  
#opus
  display: flex
  align-items: stretch

  #previous, #next, #play
    cursor: pointer

  #previous, #next
    display: flex
    justify-content: center
    align-items: center
    font-size: 150%
    padding: 1rem

  #previous
    border-left: 1px solid transparent
    &:hover
      border-left-color: black
  
  #opus-number
    flex-grow: 1
    text-align: center
    
    #opus-label
      display: block
      font-variant: small-caps
      font-size: 150%

    #opus-input
      font-family: inherit
      font-size: inherit
      text-align: center
      resize: none
      width: 100%

  #next
    border-right: 1px solid transparent
    &:hover
      border-right-color: black

#media-buttons
  text-align: center

  // & > *::before
  //   content: ""
  //   width: 0
  //   height: 0
    
  // #play::before
  //   margin-top: .3em
  //   border-top: .3em solid transparent
  //   border-right: 0
  //   border-bottom: .3em solid transparent
  //   border-left: .3em solid black
